<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="app-list" class="col-sm-8">
                <h2>Employees</h2>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Birthday</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Salary</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tr v-for="emp in info" :key="emp.id">
                            <td>{{ emp.name }}</th>
                            <td>{{ emp.birthday }}</td> 
                            <td>{{ emp.sex | gendertotext }}</td>
                            <td>{{ emp.salary }}</td>
                            <td>
                                <button v-on:click="delete_emp(emp.id)" class="btn btn-danger btn-sm">delete</button>
                                <button v-on:click="edit_emp(emp.id)" class="btn btn-primary btn-sm">details</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col">
                    <div id="app-details">
                        <h2>Employee details</h2>
                        <form>
                        <div class="form-group">
                            <label for="nameInput">Name</label>
                            <input v-model.trim="employee.name" placeholder="name" id="nameInput" class="form-control" ref="search">
                        </div>
                        <div class="form-group">
                            <label for="inputdate">Birthday</label>
                            <input v-model="employee.birthday" placeholder="yyyy-mm-hh" id="inputdate" class="form-control">
                        </div>
                        <div class="form-group form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="sex" id="inputmale" value="1" v-model="employee.sex">
                            <label class="form-check-label" for="inputmale">male</label>
                        </div>
                        <div class="form-group form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="sex" id="inputfemale" value="2" v-model="employee.sex">
                            <label class="form-check-label" for="inputfemale">female</label>
                        </div>
                        <div class="form-group">
                            <label for="inputhiredate">Hiredate</label>
                            <input v-model="employee.hiredate" placeholder="yyyy-mm-hh" id="inputhiredate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputsalary">Salary</label>
                            <input v-model="employee.salary" id="inputsalary" class="form-control">
                        </div>
                        </form>
                        <button v-on:click="update_employee(employee.id)" :disabled="employee.id < 0" class="btn btn-primary btn-sm btn-block">
                                <span v-show="put_progress" class="spinner-border spinner-border-sm" role="status"></span>
                            Edit information
                        </button>
                        <button v-on:click="create_emp()" class="btn btn-success btn-sm btn-block">
                            <span v-show="post_progress" class="spinner-border spinner-border-sm" role="status"></span>
                            Add new Employee
                        </button>
                    </div>
                </div>
        </div>
    </div>
    <script>
        (function(){

            var emp_details = new Vue({
                el: '#app-details',
                data() {
                    return {
                        employee: {
                            name: '',
                            birthday: '',
                            hiredate: '',
                            sex: 1,
                            salary: 0,
                            id: -1
                        },
                        put_progress: false,
                        post_progress: false
                    }
                },
                methods: {
                    load_employee: function(emp_id) {
                        axios
                            .get('/api/employees/' + emp_id)
                            .then(response => {
                                this.employee = response.data
                                this.$refs.search.focus()
                            })
                            .catch(error => console.log(error));
                    },
                    update_employee: function(emp_id) {
                        this.put_progress = true
                        axios
                            .put('/api/employees/' + emp_id, this.employee)
                            .then(response => {
                                console.log(response)
                                this.put_progress = false;
                                emp_list.get_employees();
                            })
                            .catch(error => {
                                console.log(error)
                                this.put_progress = false;
                            });
                    },
                    create_emp: function() {
                        this.post_progress = true;
                        axios
                            .post('/api/employees', this.employee)
                            .then(response => {
                                console.log(response)
                                this.post_progress = false;
                                this.employee.id = -1;
                                emp_list.get_employees();
                            })
                            .catch(error => {
                                console.log(error)
                                this.post_progress = false;
                            });
                    }
                }
            })
            
            var emp_list = new Vue({
                el: '#app-list',
                data() {
                    return {
                        info: null
                    }
                },
                mounted() {
                    this.get_employees();
                },
                methods: {
                    get_employees: function() {
                        axios
                        .get('/api/employees')
                        .then(response => (this.info = response.data.employees))
                        .catch(error => console.log(error));
                    },
                    delete_emp: function(emp_id) {
                        axios
                            .delete('/api/employees/' + emp_id)
                            .then(response => {
                                this.get_employees();
                            })
                            .catch(error => console.log(error));
                    },
                    edit_emp: function(emp_id) {
                        emp_details.load_employee(emp_id)
                    }
                },
                filters: {
                    gendertotext(value) {
                        if (value === 1) {
                            return 'male';
                        } else if (value == 2) {
                            return 'female';
                        } else {
                            return 'unknown'
                        }
                    }
                }
            });
        })();
    </script>
</body>
</html>